
<!-- <h1 class="menu-header">Test</h1>
  <div class="menu-section">
    <a href="#">Test</a>
  </div> -->


<div class="menu-section">
  <h1 class="menu-header category-head">Topics</h1>
    {% for item in site.data.menuTopics %}
      <a href="{{ item.link }}">{{ item.name }}</a>
    {% endfor %}
    <p> &nbsp; </p>
</div>

<div class="menu-section">
  <h1 class="menu-header category-head">Meta</h1>
    {% for item in site.data.menuMeta %}
      <a href="{{ item.link }}">{{ item.name }}</a>
    {% endfor %}
    <p> &nbsp; </p>
</div>




<script type="text/javascript">
  function openNav() {
    document.getElementById("myNav").style.display = "block";
    document.getElementsByTagName("body")[0].style.overflow = "hidden";
  }

  function closeNav() {
    document.getElementById("myNav").style.display = "none";
    document.getElementsByTagName("body")[0].style.overflow = "scroll";
  }
</script>
