<div class="recent-updates">
  <h1 class="category-head">Recent updates</h1>
  {% for category in site.categories %}
    {% for post in category.last limit: 1 %}
      <p class="summary-separator"/>
      <div class="summary-wrapper">
        <a class="wrapper mini" href="{{ post.url }}">
          <article class="main">
            <p class="mini mini-footer">
              <span class="tag-cat">{{ category | first }}</span>
              <strong>{{ post.title }}</strong>
              {{ post.description }}
              <span class="related-date">
                {% include timeAgo.html %}
              </span>
            </p>
          </article>
        </a>
      </div>
    {% endfor %}
  {% endfor %}
</div>
