



<!-- SOME CODE HERE USEFUL TO REMOVE DUPS -->
<!-- OR PROBABLY SHOULD USE LIQUIDE CODE unique INSTEAD -->
{% comment %}
{% assign currentTag = "foo," | split:"," %}
{% assign tagArray = "foo," | split:"," %}
{% assign counterArray = "1," | split:"," %}

{% for tag in allCommonTags %}

  {% if currentTag contains tag %}
    it triggered! {{ currentTag }}.
    increment tag counter and add it to the counterArray.  <br/><br/>
  {% else %}
    it didn't trigger. add tag to currentTag and do X. <br/><br/>
    {% assign tagArray = tagArray | append: tag %}
    {{ tagArray[0] }}
  {% endif %}

{% endfor %}
{% endcomment %}
