<!doctype html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="stylesheet" href="/assets/css/styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include googleAnalytics.html %}
    {% include searchHead.html %}
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <nav>
      {% include navigation.html %}
    </nav>
    <div id="content">
      {{ content }}
    </div>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
