---
layout: default
---
<h1 class="post-title">{{ page.title }}</h1>
<p class="post-description">{{ page.description }}</p>
<p>
  <img src="{{ page.image }}" alt="{{ page.caption }}">
  {% if page.caption %}
    <em>{{ page.caption }}
      {% if page.image-credit-link %}
        <a href="{{ page.image-credit-link }}">{{ page.image-credit }}</a>
      {% endif %}
    </em>
  {% endif %}
</p>

<h3>Week of {{ page.date | date: "%s" | minus : 604800 | date: "%B %e, %Y" }}</h3>

<h1 class="training-day">Monday</h1>
<p class ="training-log">{{ page.mon }}</p>
<p>{{ page.mon-note }}</p>

<h1 class="training-day">Tuesday</h1>
<p class ="training-log">{{ page.tue }}</p>
<p>{{ page.tue-note }}</p>

<h1 class="training-day">Wednesday</h1>
<p class ="training-log">{{ page.wed }}</p>
<p>{{ page.wed-note }}</p>

<h1 class="training-day">Thursday</h1>
<p class ="training-log">{{ page.thu }}</p>
<p>{{ page.thu-note }}</p>

<h1 class="training-day">Friday</h1>
<p class ="training-log">{{ page.fri }}</p>
<p>{{ page.fri-note }}</p>

<h1 class="training-day">Saturday</h1>
<p class ="training-log">{{ page.sat }}</p>
<p>{{ page.sat-note }}</p>

<h1 class="training-day">Sunday</h1>
<p class ="training-log">{{ page.sun }}</p>
<p>{{ page.sun-note }}</p>

<div class="training-totals">
  <h1 class="training-day">Totals</h1>
  <p class ="training-log">{{ page.totals }}</p>
</div>

{% if content.size > 1 %}
  <h1>Notes</h1>
  {{ content }}
{% endif %}

{% include relatedPosts.html %}

{% include recentUpdates.html %}
