---
layout: default
---

<h1 class="post-title">{{ page.title }}</h1>
<p class="post-description">{{ page.description }}</p>
<p>
  <img src="{{ page.image }}" alt="{{ page.caption }}">
  {% if page.caption %}
    <em>{{ page.caption }}
      {% if page.image-credit-link %}
        <a href="{{ page.image-credit-link }}">{{ page.image-credit }}</a>
      {% endif %}
    </em>
  {% endif %}
</p>

{% if page.next_in_category != nil %}
  {% assign next_url = page.next_in_category.url %}
  {% assign next_class = "next-link" %}
	<!-- <a href="{{next_url}}" class="{{next_class}}">Older Post</a> -->
{% endif %}
{% if page.previous_in_category != nil %}
  {% assign previous_url = page.previous_in_category.url %}
  {% assign previous_class = "previous-link" %}
  <!-- <a href="{{previous_url}}" class="{{previous_class}}">Newer Post</a> -->
{% endif %}

<br/>
{% assign weekNum = page.title | slice: 5,2 %}
<div class="training-logs">
  <h1 class="training-day">TRAINING LOG #{{ weekNum }} <br/>Week of {{ page.date | date: "%B %e, %Y" }}</h1>
  <p class ="training-log">{{ page.totals }}</p>
  <br/>

</div>

<div class="np-wrapper">
  <span class="np-spacer"></span>
  <span class="np np-oldernewer np-older tag-cat tag-gry test">
    <a href="{{next_url}}" class="{{next_class}}">
      <i class="fas fa-backward"></i>
      wk
    </a>
  </span>
    <span class="np tag-cat tag-gre"><a href="#logs">Training</a></span>
    <span class="np tag-cat tag-red"><a href="#hrv">HRV</a></span>
    <span class="np tag-cat tag-yel"><a href="#notes">Notes</a></span>
  <span class="np np-oldernewer np-newer tag-cat tag-gry">
    <a href="{{previous_url}}" class="{{previous_class}}">
      wk
      <i class="fas fa-forward"></i>
    </a>
  </span>
  <span class="np-spacer"></span>
</div>

<div class="training-logs">

  <span class="tag-cat tag-gre" id="logs">Training</span>
  <h1 class="training-day">Monday</h1>
  <p class ="training-log">{{ page.mon }}</p>
  <p>{{ page.mon-note }}</p>

  <h1 class="training-day">Tuesday</h1>
  <p class ="training-log">{{ page.tue }}</p>
  <p>{{ page.tue-note }}</p>

  <h1 class="training-day">Wednesday</h1>
  <p class ="training-log">{{ page.wed }}</p>
  <p>{{ page.wed-note }}</p>

  <h1 class="training-day">Thursday</h1>
  <p class ="training-log">{{ page.thu }}</p>
  <p>{{ page.thu-note }}</p>

  <h1 class="training-day">Friday</h1>
  <p class ="training-log">{{ page.fri }}</p>
  <p>{{ page.fri-note }}</p>

  <h1 class="training-day">Saturday</h1>
  <p class ="training-log">{{ page.sat }}</p>
  <p>{{ page.sat-note }}</p>

  <h1 class="training-day">Sunday</h1>
  <p class ="training-log">{{ page.sun }}</p>
  <p>{{ page.sun-note }}</p>
  <br/>

</div>

<table class="hrv">
  <tr>
      <th id="hrv-tag" colspan="6">
        <span class="tag-cat tag-red" id="hrv">HRV Logs</span>
      </th>
  </tr>
  <tr class="hrv-header"><th>DAY</th><th>R#</th><th>HRV</th><th>AVG</th><th>CV</th><th>HR</th></tr>
  {{ page.hrv }}
</table>

{% if content.size > 1 %}
  <h1><span class="tag-cat tag-yel" id="notes">Notes</span></h1>
  {{ content }}
  <br/>
{% endif %}

{% comment %}
  {% include recentUpdates.html %}
{% endcomment %}

{% include relatedPosts.html %}
