---
layout: default
---
<h1 class="post-title">{{ page.title }}</h1>
<p class="post-description">{{ page.description }}</p>
<p>
  <img src="{{ page.image }}" alt="{{ page.caption }}">
  {% if page.caption %}
    <em>{{ page.caption }}
      {% if page.image-credit-link %}
        <a href="{{ page.image-credit-link }}">{{ page.image-credit }}</a>
      {% endif %}
    </em>
  {% endif %}

</p>
<p>
  {% comment %}
  {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
    By <a href="{{ author.url }}">{{ author.name }}</a>
  {% endif %}
  • 
  {% endcomment %}
  {{ page.date | date: "%B %e, %Y" }}
</p>

{{ content }}

{% include recentUpdates.html %}

{% include relatedPosts.html %}
