---
layout: default
---
<h1 class="post-title">{{ page.title }}</h1>
<p class="post-description">{{ page.description }}</p>
<!-- <div class="post-photo" style="backgroud-image: url({{ page.image }})"/>  -->
<p>
  <img src="{{ page.image }}" alt="{{ page.caption }}">
  {% if page.caption %}
    <em>{{ page.caption }}
      {% if page.image-credit-link %}
        <a href="{{ page.image-credit-link }}">{{ page.image-credit }}</a>
      {% endif %}
    </em>
  {% endif %}

</p>
<p>
  {{ page.date | date: "%B %e, %Y" }}
</p>

{{ content }}

{% include recentUpdates.html %}

{% include relatedPosts.html %}
